DOCTYPE HTML
html 
body 
title Réinitialisation de mot de passe sur RESTO INFO
h2 Demande de réinitialisation
p #{lastname} #{firstname}, vous avez demandé une réinitialisation de votre mot de passe sur RESTO INFO.
p Cliquez sur le lien suivant pour procéder à la réinitialisation : 
p   
    strong Lien : 
    span #{link}
    br
    span Durée d'expiration du lien : 3 heures
p
    strong NB
    br
    span Si vous n'avez pas demandé cette requête de réinitialisation, cliquez sur le lien ci-après
    strong Désapprouvé la réinitialisation : #{reject}