DOCTYPE HTML
html 
body 
title Nouveau restaurant à approuver
h2 Nouveau restaurant à approuver
p Un nouveau restant en attente de validation
p Informations
p   
    strong Nom : #{denomination}
    br
    strong Url de connexion : #{fronturl}