DOCTYPE HTML
html 
body 
title Bienvenue sur RESTO INFO
h2 Bienvenue sur RESTO INFO
p #{lastname} #{firstname}, nous vous remercions d'avoir créer un compte sur RESTO INFO
p Vos informations de connexions : 
p   
    strong Email : #{email}
    br
    strong Url de connexion : #{fronturl}