DOCTYPE HTML
html 
body 
title Modification restaurant à approuver
h2 Modification restaurant à approuver
p Une nouvelle modification sur le restaurant
p   
    p Nom : #{denomination}
    //- p 
    //-     p Données : 
    //-     ul
    //-         each val, key in data
    //-             li= key + ': ' + val